alabaster==0.7.7
Babel==2.9.1
boto3==1.3.0
botocore==1.4.8
chardet==2.3.0
click==6.4
daff==1.3.14
docutils==0.12
glob2==0.4.1
html5lib==0.9999999
imagesize==0.7.0
Jinja2>=2.10.1
jmespath==0.9.0
json-table-schema==0.2.1
lxml==3.6.0
MarkupSafe==0.23
messytables==0.15.0
numpydoc==0.6.0
parse==1.6.6
pluggy==0.3.1
py==1.4.31
Pygments==2.1.3
python-dateutil==2.5.2
python-magic==0.4.11
pytz==2016.3
pyyaml>=4.2b1
requests>=2.20.0
sh==1.11
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4
tox==2.3.1
virtualenv==15.0.1
xlrd==0.9.4
xlsx2csv==0.7.2
